.react-tweet-theme {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    overflow: hidden;
    /* Base font styles */
    color: var(--tweet-font-color);
    font-family: var(--tweet-font-family);
    font-weight: 400;
    box-sizing: border-box;
    border: var(--tweet-border);
    border-radius: 12px;
    margin: var(--tweet-container-margin);
    background-color: var(--tweet-bg-color);
  
}