@media (min-width: 768px) {
    .controls-tree::-webkit-scrollbar {
        width: 0px;
    }

    .controls-tree::-webkit-scrollbar-corner {
        background: rgba(0, 0, 0, 0);
    }

    .controls-tree::-webkit-scrollbar-thumb {
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, 0);
        background-clip: content-box;
        max-width: 0px;
        max-height: 0px;
    }
        
    .controls-tree::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }
}