@font-face {
	font-family: 'Poppins-Bold';
	src: url('./fonts/Poppins-Bold.ttf') format('woff2'),
		url('./fonts/Poppins-Bold.ttf') format('woff');
	font-weight: bold;
	font-style: bold;
	font-display: swap;
}

.poppins-font-family {
	font-family: 'Poppins-Bold';
	font-weight: bold;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.draggable {
	-webkit-app-region: drag;
}
