.card {
	background-color: #e6ba77;
	border-radius: 24px;
	display: inline-block;
	height: auto;
	width: auto;
	margin: 12px 20px 12px 20px;
	padding: 12px;
}

.card-container {
	box-shadow: 0px 1px 15px 22px #e6ba77;
}

.workspace {
	height: 512px;
	width: 512px;
}
