@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/geist';
@import 'tailwindcss';
@import '@fontsource-variable/noto-sans';
@import '@fontsource-variable/outfit';

@theme {
	--color-background: oklch(1 0 0);
	--color-foreground: oklch(0.145 0 0);
	--color-card: oklch(1 0 0);
	--color-card-foreground: oklch(0.145 0 0);
	--color-popover: oklch(1 0 0);
	--color-popover-foreground: oklch(0.145 0 0);
	--color-primary: oklch(0.205 0 0);
	--color-primary-foreground: oklch(0.985 0 0);
	--color-secondary: oklch(0.97 0 0);
	--color-secondary-foreground: oklch(0.205 0 0);
	--color-muted: oklch(0.97 0 0);
	--color-muted-foreground: oklch(0.556 0 0);
	--color-accent: oklch(0.97 0 0);
	--color-accent-foreground: oklch(0.205 0 0);
	--color-destructive: oklch(0.577 0.245 27.325);
	--color-destructive-foreground: 0 0% 98%;
	--color-border: oklch(0.922 0 0);
	--color-input: oklch(0.922 0 0);
	--color-ring: oklch(0.708 0 0);
	--color-chart-1: oklch(0.87 0 0);
	--color-chart-2: oklch(0.556 0 0);
	--color-chart-3: oklch(0.439 0 0);
	--color-chart-4: oklch(0.371 0 0);
	--color-chart-5: oklch(0.269 0 0);
	--color-sidebar: oklch(0.985 0 0);
	--color-sidebar-foreground: oklch(0.145 0 0);
	--color-sidebar-primary: oklch(0.205 0 0);
	--color-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-sidebar-accent: oklch(0.97 0 0);
	--color-sidebar-accent-foreground: oklch(0.205 0 0);
	--color-sidebar-border: oklch(0.922 0 0);
	--color-sidebar-ring: oklch(0.708 0 0);
	--color-dark-base-100: #212121;
	--color-dark-base-200: #161618;
	--color-dark-base-300: #161616;
	--radius: 0.625rem;

	--font-sans: 'Geist Variable', sans-serif;
	--font-heading: var(--font-sans);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}

		to {
			height: 0;
		}
	}
}

html.dark {
	--color-background: oklch(0.145 0 0);
	--color-foreground: oklch(0.985 0 0);
	--color-card: oklch(0.205 0 0);
	--color-card-foreground: oklch(0.985 0 0);
	--color-popover: oklch(0.205 0 0);
	--color-popover-foreground: oklch(0.985 0 0);
	--color-primary: oklch(0.922 0 0);
	--color-primary-foreground: oklch(0.205 0 0);
	--color-secondary: oklch(0.269 0 0);
	--color-secondary-foreground: oklch(0.985 0 0);
	--color-muted: oklch(0.269 0 0);
	--color-muted-foreground: oklch(0.708 0 0);
	--color-accent: oklch(0.269 0 0);
	--color-accent-foreground: oklch(0.985 0 0);
	--color-destructive: oklch(0.704 0.191 22.216);
	--color-destructive-foreground: 0 85.7% 97.3%;
	--color-border: oklch(1 0 0 / 10%);
	--color-input: oklch(1 0 0 / 15%);
	--color-ring: oklch(0.556 0 0);
	--color-sidebar: oklch(0.205 0 0);
	--color-sidebar-foreground: oklch(0.985 0 0);
	--color-sidebar-primary: oklch(0.488 0.243 264.376);
	--color-sidebar-primary-foreground: oklch(0.985 0 0);
	--color-sidebar-accent: oklch(0.269 0 0);
	--color-sidebar-accent-foreground: oklch(0.985 0 0);
	--color-sidebar-border: oklch(1 0 0 / 10%);
	--color-sidebar-ring: oklch(0.556 0 0);
	--color-chart-1: oklch(0.87 0 0);
	--color-chart-2: oklch(0.556 0 0);
	--color-chart-3: oklch(0.439 0 0);
	--color-chart-4: oklch(0.371 0 0);
	--color-chart-5: oklch(0.269 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		@apply font-sans;
	}

	html.dark body {
		background-color: oklch(0.145 0 0) !important;
		color: oklch(0.985 0 0) !important;
	}

	html.dark .bg-background {
		background-color: oklch(0.145 0 0) !important;
	}

	html.dark .text-foreground {
		color: oklch(0.985 0 0) !important;
	}
}
